.site-intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 50px;
  padding: 20px;
  text-align: justify;
}

.intro-info {
  color: white;
}
button {
  height: 50px;
  width: 200px;
  color: white;
  background-color: black;
  border: 1px solid #e2a53f;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}
button:hover {
  background-color: #e2a53f;
}

@media screen and (max-width: 688px) {
  .site-intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
  }
  .intro-info {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .intro-cover img {
    margin-top: 50px;
  }
}
