@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
div {
  font-family: "Fira Sans", sans-serif;
}
.logo-text {
  margin-top: 40px;
}

.nav-logo {
  display: flex;
}
.nav-logo img {
  width: 150px;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
}
.menu-item {
  margin-top: 60px;
}
.menu-item a {
  color: #ffff;
  font-weight: 800;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}
.menu-item a:hover {
  color: #e2a53f;
}
@media screen and (max-width: 688px) {
  .nav-bar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .nav-logo img {
    width: 200px;
  }
  .menu-item a {
    margin-bottom: 20px;
  }
  .nav-logo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .menu-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
